################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FilerOrganizerHelper/bin/Debug/net6.0
/FilerOrganizerHelper/obj
/FilerOrganizerHelper/nupkg
/.vs
